 
@media screen and (min-width: 1201px){
	.gap-between-search-container-and-menu {
    	padding-bottom: 230px;
    }
	
	.form-group {
		float: left !important;
	}

	.center-row {
		margin: auto;
		width: 100%;
		padding-bottom: 5px;
	}
	
	.form-control, .btn-default {
		border: 1px !important;
		border-radius: 0 !important;
		height: 42px !important;
	}

	.btn {
		border-radius: 0 5px 5px 0 !important;
		height: 42px !important;
 
	}
	
	#search {
		width: 120px !important;
	}
	
}

@media screen and (max-width: 1200px){
    .gap-between-search-container-and-menu {
    	padding-bottom: 10px;
    }
	
	.form-inline .form-group {
		display: block;
		margin-bottom: 10px;
		vertical-align: middle;
		width: 100%;
	}

	.form-inline .form-group .form-control {
		width: 100%;
	}

	.container {
		width: 95%;
	}
	
	.container .row {
		width:100%;
		margin:0 auto;
	}

	.form-group {
		float: left !important;
	}

	.form-control, .btn-default {
		border: 1px !important;
		border-radius: 0 !important;
		height: 42px !important;
	}

	.btn {
		border-radius: 0 5px 5px 0 !important;
		height: 42px !important;
	}

	.center-row {
		margin: auto;
		width: 90%;
		padding-bottom: 5px;
	}

	.margin-left {
		margin-left: 20px !important;
	}
		
	.margin-right {
		margin-right: 23% !important;
	}
}

.a-color {
	color: white;
	background: black;
	opacity: 0.5;
}

.margin-left {
	margin-left: 20px;
}
	
.margin-right {
	margin-right: 16%;
}

.center-row a {
	border-radius: 5px;
	padding: 2px;
	margin-bottom: 10px;
	font-size: 12px;
}
	
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.typeahead {
  background-color: #fff;
}

.selectpicker {
   border-radius: 5px 5px 127px 129px;
   -moz-border-radius: 5px 5px 127px 129px;
   -webkit-border-radius: 5px 5px 127px 129px;
   border: 1px solid #000000;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.form-control, .btn-default {
	border: 1px !important;
	border-radius: 0 !important;
	height: 42px !important;
}

/* s */

.twitter-typeahead {
	display: block !important;
}

.tt-menu {
	background-color: white;
	width: 100%;
}

body {
  background: url(http://www.shoosmiths.co.uk/images/HitachitrainforIEP_hires.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.partial-transparent {
    display: block;
    background: rgba(0, 0, 0, .6);
    border: none;
}

.partial-transparent input {
    opacity: 1;
    filter: alpha(opacity=90); /* For IE8 and earlier */
	background-color: White;
}



